<div class="stock-card">
    <span class="ticker">{{ticker()}}</span>
    <span class="price">{{currentPrice().toFixed(2)}}$</span>
    <span>Amount:</span>
    <input class="amount-input" [(ngModel)]="amount" type="number" min="1" max="10000"/>
    <span>Hit Price:</span>
    <input class="amount-input" id="price-amount" [(ngModel)]="hitPrice" type="number" min="1" max="10000"/>
    <span>{{totalAmount()}}$</span>
    @if(isLoggedIn) {
        <button class="action" (click)="buy(amount, hitPrice)">Buy</button>
    } @else {
        <button class="no-action" (click)="buy(amount, hitPrice)">Buy</button>
    }
</div>
